<img class="" id="prev" src="/img/arrow-left.png" alt="previous" data-offset="0" title="previous">

{% for picCount, prevPic in prevPics %}
<div style="display: inline-block; margin : 0; padding : 0">
    <img class="preview" id="picteria-{{ picCount }}-prev" src="/galleries/{{ gallery }}/{{ prevPic }}" alt="" >
    <div id="{{ picCount }}" class="active hide"><div class="currentPreview"></div></div>
</div>
{% endfor %}

<img class="" id="next" src="/img/arrow-right.png" alt="next" data-offset="0" title="next">
<img class="" id="mode" src="/img/fullscreen.png" alt="">
