{% extends "layout.twig" %}

{% block title %}{{ gallery }}{% endblock %}

{% block picteria_javascripts %}<script src="/js/script.js"></script>{% endblock %}

  
{% block content %}
<div id="debug">{{ debug }}</div>
{% include 'galleryContent.twig' %}
{% endblock %}
