{% extends "layout.twig" %}

{% block content %}
  <section id="container">
    <img id="picteria-1" class="picteria hide" src="/galleries/buds/001.jpg" alt="" >
{#     <img id="picteria-2" class="picteria hide" src="/galleries/buds/002.jpg" alt="" >#}
  </section>
  
  
  <div id="controls">
    <div id="controlsContainer">
      <img class="" id="prev" src="/img/arrow-left.png" alt="previous" data-offset="0" title="previous">

  {% for prevPic in prevPics %}
      <img class="preview hide" id="picteria-{{ loop.index }}-prev" src="/galleries/{{ gallery }}/{{ prevPic }}" alt="" >
  {% endfor %}

      <img class="" id="next" src="/img/arrow-right.png" alt="next" data-offset="0" title="next">
      <img class="" id="mode" src="/img/fullscreen.png" alt="">
    <div>
    
  </div>
{% endblock %}
