<li><a href="#" class="title">help</a></li>
<li class="content">
  <h2>desktop screen</h2>
  <p>
    you can navigate with the mouse as usual
  </p>
  <p>
    or you can use the following keyboard shotcuts :
  </p>
  <div>
    <table>
      <tr>
        <td>
          <ul>
  	    	<li class="key"><span><img src="/img/key-arrow-left.png"></span></li>
        </td>
        <td>previous image or gallery</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key"><span><img src="/img/key-arrow-right.png"></span></li>
        </td>
        <td>next image or gallery</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key"><span><img src="/img/key-arrow-up.png"></span></li>
        </td>
        <td>next previews</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key"><span><img src="/img/key-arrow-down.png"></span></li>
        </td>
        <td>previous previews</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li><a href="#" class="key"><span>r</span></a></li>
        </td>
        <td>switch between full image and fill screen</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li><a href="#" class="key"><span>b</span></a></li>
        </td>
        <td>back to index</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li><a href="#" class="key"><span>h</span></a></li>
        </td>
        <td>show / hide controls</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li><a href="#" class="key"><span>s</span></a></li>
        </td>
        <td>start / stop diaporama</td>
      </tr>
    </table>
  </div>

  <h2>touch screen</h2>
</li>            