<li><a href="#" class="title">help</a></li>
<li class="content">
  <h2>desktop screen</h2>
  <p>
    you can navigate with the mouse as usual
  </p>
  <p>
    or you can use the following keyboard shotcuts :
  </p>
  <div>
    <table>
      <tr>
        <td style="width : 76px">
  	    	<li class="key"><span><img src="/img/key-arrow-left.png"></span></li>
  	    	<li class="key"><span><img src="/img/key-arrow-right.png"></span></li>
        </td>
        <td>previous/next image or gallery</td>
      </tr>
{#       <tr>#}
{#         <td>#}
{#   	    	<li class="key"><span><img src="/img/key-arrow-right.png"></span></li>#}
{#         </td>#}
{#         <td>next image or gallery</td>#}
{#       </tr>#}
      <tr>
        <td>
  	    	<li class="key"><span><img src="/img/key-arrow-up.png"></span></li>
  	    	<li class="key"><span><img src="/img/key-arrow-down.png"></span></li>
        </td>
        <td>previous/next previews</td>
      </tr>
{#       <tr>#}
{#         <td>#}
{#   	    	<li class="key"><span><img src="/img/key-arrow-down.png"></span></li>#}
{#         </td>#}
{#         <td>previous previews</td>#}
{#       </tr>#}
      <tr>
        <td>
  	    	<li class="key text"><span>r</span></li>
        </td>
        <td>switch between full image and fill screen</td>
      </tr>
      <tr>
        <td>
  	    	<li class="key text"><span>b</span></li>
        </td>
        <td>back to index</td>
      </tr>
      <tr>
        <td>
  	    	<li class="key text"><span>h</span></li>
        </td>
        <td>show / hide help</td>
      </tr>
      <tr>
        <td>
  	    	<li class="key text"><span>c</span></li>
        </td>
        <td>show / hide controls</td>
      </tr>
      <tr>
        <td>
  	    	<li class="key text"><span>s</span></li>
        </td>
        <td>start / stop diaporama</td>
      </tr>
      <tr>
        <td>
  	    	<li class="key text enter">return</li>
        </td>
        <td>enter selected gallery</td>
      </tr>
      <tr>
        <td>
  	    	<li class="key text enter">space</li>
        </td>
        <td>preview selected gallery</td>
      </tr>
    </table>
  </div>

  <h2>touch screen</h2>
</li>
