<li><a href="#" class="title">aide</a></li>        
<li class="content">
  <h2>écran de bureau</h2>
  <p>
    vous pouvez naviguer avec la souris comme d'habitude
  </p>
  <p>
    ou vous pouvez utiliser les raccourcis clavier suivants :
  </p>
  <div>
    <table>
      <tr>
        <td>
          <ul>
  	    	<li class="key"><span><img src="/img/key-arrow-left.png"></span></li>
        </td>
        <td>image ou galerie précédente</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key"><span><img src="/img/key-arrow-right.png"></span></li>
        </td>
        <td>image ou galerie suivante</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key"><span><img src="/img/key-arrow-up.png"></span></li>
        </td>
        <td>aperçus suivants</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key"><span><img src="/img/key-arrow-down.png"></span></li>
        </td>
        <td>aperçus précédents</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li><a href="#" class="key text"><span>r</span></a></li>
        </td>
        <td>passer du mode image complète au mode remplir l'écran</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key text"><span>b</span></li>
        </td>
        <td>retour à l'index des galeries</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key text"><span>h</span></li>
        </td>
        <td>show / hide help</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key text"><span>c</span></li>
        </td>
        <td>afficher / cacher la barre de contrôle</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key text"><span>s</span></li>
        </td>
        <td>démarrer / arrêter le diaporama</td>
      </tr>
      <tr>
        <td>
          <ul>
  	    	<li class="key text enter">return</li>
        </td>
        <td>entrez dans la galerie sélectionnée</td>
      </tr>
    </table>
  </div>
  
  <h2>écran tactile</h2>
</li>            
