<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title> picteria / {% block title %}{% endblock %}</title>
  {% block stylesheets %}
    <link href="../../web/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  {% endblock %}

  <!-- IE < 9 HTML%5 and MEDIA QUERIES -->
  <!-- html5.js for IE less than 9 -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- css3-mediaqueries.js for IE less than 9 -->
  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  
  <script src="../../web/js/jquery-1.10.2.min.js"></script>
  {% block picteria_javascripts %}{% endblock %}

</head>
<body>
  {% block content %}{% endblock %}
  {% block javascripts %}{% endblock %}
</body>
</html>
