<div id="previews">
  <div id="previewsContainer">
  {% for picCount, prevPic in previews %}
{#   <div style="display: inline-block;">#}
    <img class="preview" id="picteria-{{ picCount }}-prev" src="/web/galleries/{{ gallery }}/{{ prevPic }}" alt="" >
{#     <div id="{{ picCount }}" class="active hide"><div class="currentPreview"></div></div>#}
{#   </div>#}
  {% endfor %}
  </div>
</div>