<div id="previews">
    <div id="previewsContainer">
        {% for picCount, prevPic in previews %}
            <img class="preview" id="picteria-{{ picCount }}-prev" src="/galleries/{{ gallery }}/{{ prevPic }}" alt="">
        {% endfor %}
    </div>
</div>
