/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

@import url(http://fonts.googleapis.com/css?family=Courgette|Muli);

html, body { height : 100% }

body {
  color :              white;
  background :    rgb(0,0,0);
  overflow :          hidden;
  @include my-background-image(
    linear-gradient(
      top left, 
        rgba( 255, 255, 255, .1),
        rgba( 255, 255, 255, 0)
    )
  );
}


#help {
  @include posabs();
  height : 100%;
  background-color : black;
  font-family: 'Muli', sans-serif;
/*   @include debug(red); */
}

.hideHelpButton {
  @include single-transition(all, 0ms, linear, 225ms);
  @include opacity(0);
}

.showHelpButton {
  @include single-transition(all, 0ms, linear, 375ms);
  @include opacity(1);
}

.showHelp {
  @include single-transition(all, 1s);
  left : 0!important;
}

.hideHelp {
  @include single-transition(all, 1s);
  left : auto;
}

#help h1 {
  font-size : 160%;
  margin : 20px 0 10px;
}

#help h2 {
  font-size : 120%;
  margin : 5px 0;
}

#help p {
  font-size : 110%;
  margin : 5px 5px;
}

#help table {
  margin : 10px 0;
  @include debug(red);  
}

#help table td {
  padding : 5px; 
}


#helpButton, #helpButtonClose {
  @include posabs();
  cursor : pointer;
}

#helpButton {
  z-index : 2;
}

#helpHeader {
  height : 80px;
}

#container {
  @include posabs();
  width :      100%;
  height :     100%;
  overflow : hidden !important;
/*   @include debug(lime); */
}

img.picteria {
/*   @include single-transition( all, 20ms); */
  position : relative;
  @include box-shadow(rgba(255,255,255,.4) 10px 0 20px, rgba(255,255,255,.4) -5px 0 20px);
  
}

.hide {
  display : none;
}

img.preview {
  height :    90px;
  margin :   5px 0;
  cursor : pointer;
/*   @include debug(red); */
}

#mode {
  width :     90px;
  margin :   5px 0;
  cursor : pointer;
/*   @include debug(red); */
}

#next, #prev {
  height :    90px;
  margin :   5px 0;
  cursor : pointer;
/*   @include debug(red); */
}

#controls {
  color :     black;
  @include posabs();
  width :      100%;
  height :     40px;
  bottom :     10px;
  @include my-background-image(
    linear-gradient(
      top left, 
        rgba( 255, 255, 255, .4),
        rgba( 255, 255, 255, .2)
    )
  );
}


#controlsContainer {
  margin : auto;
/*   @include debug(red); */
  display: table;
}


#indexContainer {
  width : 80%;
  margin : auto;
  padding : 20px;
  text-align : center;
}


div.imageContainer {
  display : inline-block;
  background-color : white;
  width : 210px;
  margin : 20px;
/*   height : 300px; */
  overflow : auto;
}

$indexDivSize : 200px;
div.indexImage {

  width :  $indexDivSize;
  height : $indexDivSize;
  margin : 5px;
  overflow :      hidden;
/*   @include debug(red); */
}


div.galleryTitle {
  font-family: 'Courgette',cursive;
  padding : 5px;
  height : 30px;
  line-height : 30px;
  font-size : 110%;
  color : black;
/*   @include debug(); */
}

div.active {  
/*   padding : 5px; */
/*   margin : 0 5px; */
/* height : 20px; */
  background-color : none;
/*   width : 190px; */
/* width: 0px; */
/* height: 0px; */
/* border-style: solid; */
/* border-width: 0 100px 30px 100px; */
/* border-color: transparent transparent #007bff transparent; */
}

div.current {
  padding : 5px;
  background-color : red;
}

div.currentPreview {
  padding : 2px;
  background-color : red;
}

div.indexImage img {
/*   max-width : 400px; */
  max-height : $indexDivSize;
  margin-left : -$indexDivSize / 4;
}

@media screen and (min-width: 640px) {

}

@media screen and (min-width: 1000px) {

  #controls {
    bottom : 20px;
    height : 100px;
  }

  #help {
    left : -20%;
    width : 20%;
  }


  #helpButton {
    top :    20px;
    left :   20px;
    width :  90px;
    height : 90px;
  }

  #helpButtonClose {
    top :    20px;
    right :   20px;
    width :  90px;
    height : 90px;
  }
}

